<html>

<head>

</head>



<body>
    <div class="header">
        <h1>ReactiveNews</h1>
    </div>

    <div class="topnav">
        <a href="#">LATEST</a>
        <a (click)="newMessage()">POPULAR</a>
        <a href="#">SUBSCRIBE</a>
        <a href="#" style="float:right">SEARCH</a>
        <a href="#" style="float:right">SIGN IN</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">

                <div class="fakeimg" style="height:200px;" (click)="getTheBbcNews()"> <img src="{{imageUrl}}" height="200" width="850" alt="" /></div>

                <h2 (click)="getTheBbcNews()">{{title}}</h2>
                <h5 (click)="getTheBbcNews()">{{Description}}</h5>
                <p (click)="getTheBbcNews()">{{Content}}</p>
            </div>
            <div class="card">

                <div class="fakeimg" style="height:200px;" (click)="getTheBbcNews()"> <img src="{{imageUrl3}}" height="200" width="850" alt="" /></div>

                <h2 (click)="getTheBbcNews()">{{title3}}</h2>
                <h5 (click)="getTheBbcNews()">{{Description3}}</h5>
                <p (click)="getTheBbcNews()">{{Content3}}</p>
            </div>
            <div class="card">

                <div class="fakeimg" style="height:200px;" (click)="getTheBbcNewsForSecond()"> <img src="{{imageUrl2}}" height="200" width="850" alt="" /></div>

                <h2 (click)="getTheBbcNewsForSecond()">{{title2}}</h2>
                <h5 (click)="getTheBbcNewsForSecond()">{{Description2}}</h5>
                <p (click)="getTheBbcNewsForSecond()">{{Content2}}</p>
            </div>
        </div>







        <div class="rightcolumn">


            <div class="card " style=" max-height:300px;overflow-y:scroll;">
                <h3 class="newsletter1" style="border-bottom:2px solid lightgrey; ">Recent Event</h3>
                <ul class="latestnews">
                    <li (click)="getTheBbcNews()"><img src="{{imageUrl}}" height="50" width="50" alt="" />
                        <p><strong><a (click)="getTheBbcNews()">{{title}} </a></strong><br></p>
                    </li>

                    <li (click)="getTheBbcNewsForSecond()"><img src="{{imageUrl2}}" height="50" width="50" alt="" />
                        <p><strong><a (click)="getTheBbcNewsForSecond()" href="#">{{title2}}</a></strong><br></p>
                    </li>

                    <li (click)="getTheBbcNewsForThird()"><img src="{{imageUrl3}}" height="50" width="50" alt="" />
                        <p><strong><a (click)="getTheBbcNewsForThird()" href="#">{{title3}}</a></strong><br></p>
                    </li>
                    <li (click)="getTheBbcNewsForFourth()"><img src="{{imageUrl4}}" height="50" width="50" alt="" />
                        <p><strong><a (click)="getTheBbcNewsForFourth()" href="#">{{title4}}</a></strong><br></p>
                    </li>
                </ul>
            </div>



            <div class="card">
                <h3 class="newsletter1" style="border-bottom:3px solid orange; ">LATEST NEWS</h3>
                <ul class="latestnews newsletter">
                    <li (click)="getTheBbcNewsForFourth()">
                        <p><strong><a (click)="getTheBbcNewsForFourth()" href="#">{{title4}}
                                </a></strong><br>{{Description4}} <strong></strong>10 Mints ago</p>
                    </li>

                    <li (click)="getTheBbcNews()">
                        <p><strong><a (click)="getTheBbcNews()" href="#">{{title}}
                                </a></strong><br>{{Description}} <strong></strong>17 Mints ago</p>
                    </li>

                    <li (click)="getTheBbcNewsForThird()">
                        <p><strong><a (click)="getTheBbcNewsForThird()" href="#">{{title3}}
                                </a></strong><br>{{Description3}} <strong></strong>10 Mints ago</p>
                    </li>

                    <li (click)="getTheBbcNewsForSecond()">
                        <p><strong><a (click)="getTheBbcNewsForSecond()" href="#">{{title2}}
                                </a></strong><br>{{Description2}} <strong></strong>10 Mints ago</p>
                    </li>
                </ul>
                <button class="btn_news">SEE MORE</button>
            </div>



            <div class="card">
                <h3 class="newsletter1" style="border-bottom:2px solid lightgrey; ">Newsletter</h3>
                <p style="font-size: 13px; padding: 10px;">Your email address will not be published. Required fields are marked</p>
                <input [(ngModel)]="email" type="text" name="email1" id="email" placeholder="Your Email" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                <button (click)="LeaveResponse()" class="btn_news">Subscribe</button>
            </div>

        </div>



    </div>



    <div class="row">
        <div class="leftcolumn">




            <div class="card" style="
            width: 45%;
            height: 40%;
            float: left;
        ">


                <li><img src="{{imageUrl4}}" height="270" width="400" style="
                    margin-top: -40px;
                    margin-left: -20px;
                    /* padding: 0px; */
                " alt="" />
                    <p><strong><a style="color: black;" (click)="getTheBbcNewsForFourth()" href="#">{{title4}}
                        </a></strong><br>{{Description4}} <strong></strong></p>

                </li>
            </div>

            <div class="card" style="
            width: 45%;
            height: 40%;
            float: right;
        ">
                <h2></h2>

                <li><img src="{{imageUrl3}}" height="270" width="400" style="
                    margin-top: -60px;
                    margin-left: -20px;
                   
                    /* padding: 0px; */
                " alt="" />
                    <p><strong><a style="color: black;" (click)="getTheBbcNewsForThird()" href="#">{{title3}}
                        </a></strong><br>{{Description3}} <strong></strong></p>

                </li>
            </div>



            <div class="card" style="float: left;width: 100%;">
                <h2 style="text-align: center;">Leave a Response</h2>
                <input type="text" [(ngModel)]="comments" placeholder="Write your Comment on this article...." style="width: 100%; height: 100px; padding: 5px; margin-bottom: 10px;">

                <div class="row">
                    <input type="text" [(ngModel)]="name" placeholder="Your Name" style="width: 45%;margin-left: 10px; padding: 5px; margin-bottom: 10px;">
                    <input type="text" [(ngModel)]="email" placeholder="Your Email" style="width: 45%; padding: 5px;margin-left: 60px; margin-bottom: 10px;">
                </div>

                <button (click)="LeaveResponse()" class="btn_news" style="width: 25%;">Subscribe</button>

            </div>
        </div>



        <div class="rightcolumn">


            <div class="card">
                <h3 class="newsletter1" style="border-bottom:2px solid lightgrey; ">Newsletter</h3>
                <p style="font-size: 13px; padding: 10px;">Your email address will not be published. Required fields are marked</p>
                <input type="text" [(ngModel)]="email2" name="email" id="email" placeholder="Your Email" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                <button (click)="LeaveResponse()" class="btn_news">Subscribe</button>
            </div>


            <div class="card">
                <h3 class="newsletter1" style="border-bottom:2px solid lightgrey; ">Newsletter</h3>
                <p style="font-size: 13px; padding: 10px;">Your email address will not be published. Required fields are marked</p>
                <input type="text" [(ngModel)]="email3" name="email" id="email" placeholder="Your Email" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                <button (click)="LeaveResponse()" class="btn_news">Subscribe</button>
            </div>


            <div class="card">
                <h3 class="newsletter1" style="border-bottom:2px solid lightgrey; ">Newsletter</h3>
                <p style="font-size: 13px; padding: 10px;">Your email address will not be published. Required fields are marked</p>
                <input type="text" [(ngModel)]="email4" name="email" id="email" placeholder="Your Email" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                <button (click)="LeaveResponse()" class="btn_news">Subscribe</button>
            </div>

        </div>



    </div>





    <div class="footer">
        <h2>Footer</h2>
    </div>

</body>

</html>